.home-heading {

    .swiper {
        width: 100%;
        height: auto;
    }
    
    .swiper-slide a {
        text-align: center;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        mask-image: linear-gradient(black 00%, black 50%, transparent);
    }
}