.home-heading {
    position: relative;
    height: 598px;

    &>.heading-link {
        position: absolute;
        z-index: 10;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        
        &>a {
            color: var(--white);
            font-size: 1em;
            font-weight: 600;
        }

        &>.btn-background-film {
            display: flex;
            justify-content: center;
            gap: 16px;

            &>* {
                width: 155px;
                height: 48px;
                border-radius: 8px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 1em;
                font-weight: 600;

                &:first-child {
                    background: var(--grey);
                    color: var(--white);
                }
                &:last-child {
                    background: var(--yellow);
                    color: var(--grey);
                }
            }
        }
    }
}

.swiper-pagination {
    &>.swiper-pagination-bullet {
        background: var(--white);
        opacity: 1;
    }
    &>.swiper-pagination-bullet-active {
        background: var(--yellow);
        opacity: 1;
    }
}