.nav-menu {
    width: 399px;
    height: 70px;
    background: var(--black);
    position: fixed;
    bottom: 0;
    z-index: 100;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.5);

    &>nav {
        height: 100%;

        &>.nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;

            &>* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4px;
                color: var(--white);
                font-size: 15px;
                font-weight: 600;
                background: transparent;
                cursor: pointer;
                transition: 0.15s ease-out;

                &.active {
                    color: var(--yellow);
                }
            }
        }
    }
}