@use './styles/variables';
@use './styles/navMenu';
@use './styles/search';
@use './styles/signModal';
@use './styles/searchResponse';
@use './pages/home/styles/home';
@use './pages/movie/styles/movie';
@use './pages/private/wishlist/styles/movieWhilist';
@use './pages/private/wishlist/styles/wishlist';
@use './pages/private/styles/private.scss';

*,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: var(--black);
    min-height: 100vh;

    &>#root {
        width: 399px;
    }
}

.app {
    height: 100%;
}


:focus {
    outline: none;
}