@use './styles/variables.scss';
@use './pages/home/styles/home.scss';

*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  background: var(--black);
}

.app {
  background: var(--black);
  width: 399px;
}